body {
    background-color: rgb(255, 254, 252); 
    font-family: "Castoro", serif;
    margin: 0;
}

header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    height: 18em;
    background-color: #89A8B2;
}

#clock { 
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

header > img {
    height: 10em;
}

header *{
    z-index: 200;
}

h4 {text-align: center; 
    font-size: 20px;
}

nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    min-height:  6em;
    flex: 1;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

nav a{
   
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-grow: 1;
    
    height: 6em;
    background-color: #B3C8CF;
}

nav p {
    position: absolute;
    z-index: 1;
    color: #89A8B2;
}

nav  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav a:hover {
    background-color: #E5E1DA;
}

nav a:hover p {
   
    color: #737373;
}

nav a:hover img {
    filter: brightness(0);
}

#mainPageh3 {
    text-align: center;
    margin-top: 4vh;
}

.mainPageBody{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2vh;
    gap: 2vw;
    
}

.mainPageBody div{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E1DA;
    border-radius: 10px;
    box-shadow: 0px 4px 8px  #c0bdb7;
    transition: transform 0.3s ease-in-out;  
}

.mainPageBody div:hover{
    transform: scale(1.02);
}

.mainPageBody a{
    margin-top: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 33vh;
    max-width: 30vw;
}

.mainPageBody img{
    
    width: 100%; 
    
}

.center { 
    margin-left: auto; 
    margin-right: auto;  
    display: block;
    text-align: center;
}

p.center {
    text-align: center;}

img.center {
    width: 45%;
    height: auto;
}

iframe.center {
    aspect-ratio: 16/9;
    width: 45%;
}

.centerTab { 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
    width: 50%; 
}

.centerTab tr *  {
    border: black 1px solid;
}

.divTable {
    background-color: rgb(228, 228, 228);
    padding-top: 25px;
    padding-bottom: 25px;
}
    
div.container{  
    text-align: center;
}

ul.ulw{ 
    display: inline-block; 
    text-align: left; 
    font-size: 20px;
}

p.margin {  
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 5em;
    margin-left: 5em;
    font-size: 20px;
}

.line{
    margin-left: auto; 
    margin-right: auto; 
    border-bottom: 5px solid rgb(102, 102, 102);
    margin-top: 5px;
    width: 75%;
}

.gallery-flex {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.gallery-flex > div{
    width: clamp(310px, calc(25% - 5px), 100%);
    height: 250px;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.gallery-flex > h3{
    margin-left: 50%; 
    margin-right: 50%; 
    text-align: center;
}

.gallery-flex  img{
    border-radius: 10px;
    box-shadow: 0px 4px 8px  rgb(177, 243, 255);
    transition: transform 0.3s ease-in-out;
}

.gallery-flex img:hover{
    
    transform: scale(1.10);
}

.gallery-flex p{
    
    font-size: 20px;
}

#galleryHeader{
   width: 100%;
    height: 50px;
    background-color: rgb(212, 243, 243);;
    text-align: center;
}

#btn_toggle {
    position: fixed;
    cursor: pointer;
    border-radius: 6px;
    z-index: 1500;
    right: 25px;
    top: 100px;
    background-color: #B3C8CF;
}

canvas {
    position: fixed;
    z-index: 200000000;
    background-color: transparent;
    opacity: 1;
}

.gallery_scripted {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
}

.gallery_display {
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 35vw;
}

.gallery_display > button {
    z-index: 100;
   
    opacity: 0.01;
    border-radius: 10px;
    background-color: #B3C8CF;
}

.gallery_display > button:hover {
    z-index: 100;
    
    opacity: 0.7;
    border-radius: 10px;
    background-color: #B3C8CF;
}

.gallery_display > div {
    width: calc(0.9 * 60vw);
    height: 100%;
    display: grid;
    justify-content: center;
}

#gallery_btn_left {
    transform: translateX(-100%);
    transition: all 1s;
}

#gallery_btn_right {
    transform: translateX(100%);
    transition: all 1s;
}

#gallery_scripted_first_img {
    border-radius: 10px;
    width: calc(0.9 * 60vw);
    height: 35vw;
    object-fit: cover;
    transition: visibility 2s;  
}

#gallery_scripted_second_img {
    border-radius: 10px;
    width: calc(0.9 * 60vw);
    height: 35vw;
    object-fit: cover;
    transition: visibility 2s;
    position: absolute;
}

@media only screen and (max-width: 768px) {
    
    nav {
        position: initial;
        flex-direction: column;
        
    }

    nav a {
        width: 100%;
    }
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}